<a href="https://colab.research.google.com/github/Sudheer-Arora/Tuple-Programs/blob/main/Tuple_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
t1=(1,2,3,4,-5,-8)
print(t1)
print(t1[3])
print(t1[-1])

(1, 2, 3, 4, -5, -8)
4
-8

In [9]:
t1=(2,3,4,5,-1,-2,-3)
print(len(t1))

7

In [14]:
t1=(1,2,3,4,5,-1,-2,'abc',15.5)
print(t1[7])
print(t1[-1])
print(t1[1:5])
print(t1[2:])
print(t1[:6])
print(t1[:15])
print(t1[2:6:2])
print(t1[-1::-1])

abc
15.5
(2, 3, 4, 5)
(3, 4, 5, -1, -2, 'abc', 15.5)
(1, 2, 3, 4, 5, -1)
(1, 2, 3, 4, 5, -1, -2, 'abc', 15.5)
(3, 5)
(15.5, 'abc', -2, -1, 5, 4, 3, 2, 1)

In [15]:
#Tuple operators
#   + (concatenation operator)
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2)
#   * (repetition operator)
t=(1,2,3)
print(t*3)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [18]:
#Tuple function(1-len,2-min,3-max,4-sorted,5-cmp)
t=(4,5,1,2,3)
print(len(t))
print(min(t))
print(sum(t))
print(max(t))
print(sorted(t))
print(t)
t1=(1,2,3)
t2=(4,5,6)
print(t1<t2)
print(t1>t2)
print(t1==t2)
print(t1!=t2)

5
1
15
5
[1, 2, 3, 4, 5]
(4, 5, 1, 2, 3)
True
False
False
True

In [19]:
#Tuple methods:-
#count():
t=(1,2,3,4)
print(t.count(3))
#index():
t=(1,2,3,4)
print(t.index(2))
#unpacking:
t=(1,2,3)
a,b,c=t
print(a)
print(b)
print(c)

1
1
1
2
3

In [20]:
# WAP to get the 4th element from the last element of a tuple.
t=(1,2,3,4,5,6,7,8,9,11,22,33)
print(t)
last_index=len(t)-1
fourth_element=last_index-3
print(t[fourth_element])
print(t[last_index])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33)
9
33

In [21]:
#WAP to find repeated items in a tuple.
t=(1,2,3,4,5,6,7,3,4,2,5,1,8)
l=[]
for i in t:
    if t.count(i)>1:
        if i not in l:
            l.append(i)
print(l)

[1, 2, 3, 4, 5]

In [22]:
#WAP to check whether an element exists with in a tuple.
t=(2,4,6,1,8,3,11,4,7,8)
x=int(input('Enter the any element'))
if x in t:
      print('Element is exists')
else:
     print('Element not exists')

Enter the any element4
Element is exists